<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.osu.settyblue.xreport" >

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="in.wptrafficanalyzer.locationnearby.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="in.wptrafficanalyzer.locationnearby.permission.MAPS_RECEIVE" />
	
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
		<meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAabHwQ037wWyJt8DaJWrPRxr_x_vqXPN8" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".ExpensesActivity"
            android:label="@string/title_activity_expenses"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.osu.settyblue.xreport.HomeActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.osu.settyblue.xreport.LoginActivity" />
        </activity>
        <activity
            android:name=".EditExpenseActivity"
            android:label="@string/title_activity_edit_expense"
            android:parentActivityName=".ExpensesActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.osu.settyblue.xreport.ExpensesActivity" />
        </activity>
        <activity
            android:name=".EditExpenseItemActivity"
            android:label="@string/title_activity_edit_expense_item"
            android:parentActivityName=".EditExpenseActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.osu.settyblue.xreport.EditExpenseActivity" />
        </activity>
		<activity
            android:name=".MakePhotoActivity"
            android:label="@string/title_activity_make_photo" >
        </activity>
        <activity
            android:name=".ImagePickActivity"
            android:label="@string/title_activity_image_pick" >
        </activity>
		<activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>
    </application>

</manifest>
